//Btn
.btn-add {
    font-size: 14px;
    i {
        padding-right: 5px;
    }
}

//
.form-label,
.form-control,
.form-check {
    font-size: 14px;
    padding: 5px;
}

.paginate-admin {
    font-size: 14px;
}
