/* Modal */
#modal {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    z-index: 99;
    text-align: left;
    &.active {
        opacity: 1;
    }
    .modal__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal__body {
        --growth-from: 0.7;
        --growth-to: 1;
        position: relative;
        animation: growth linear 0.1s;
        width: 800px;
        background: var(--white);
        padding: 10px;
        margin: auto;
        position: relative;
        margin-top: 50px;
        &-tittle {
            font-size: 1.3rem;
            color: var(--text-color);
            font-weight: 700;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            border-bottom: 1px solid #ebebeb;
            a {
                color: var(--hover-text);
            }
            a:hover {
                text-decoration: none;
            }
        }
        .modal__body-noti {
            padding: 10px 0;
            div {
                font-size: 1.3rem;
                color: var(--text-color);
                font-weight: 500;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
            }
        }
    }
    .modal__body-product {
        .body__product-text {
            width: 100%;
            background-color: #f7f7f7;
            padding: 10px;
            font-size: 1.2rem;
            color: var(--text-color);
            font-weight: 500;
            letter-spacing: 0.1rem;
        }
        .body__product-text50 {
            width: 50%;
            display: inline-block;
            text-align: left;
        }
        .body__product-text15 {
            width: 15%;
            display: inline-block;
            text-align: center;
        }
        .body__product-price {
            width: 100%;
            padding: 0 10px;
            display: flex;
        }
        .body__product-55 {
            width: 55%;
            display: flex;
            padding: 10px;
        }
        .body__product-img {
            display: inline-block;
            cursor: pointer;
            img {
                width: 80px;
                height: 80px;
                border: 1px solid #d2d2d2;
                margin-right: 10px;
            }
        }
        .body__product-info {
            display: inline-block;
        }
        .body__product-name {
            margin-bottom: 10px;
            font-size: 1.4rem;
            color: var(--text-color);
            font-weight: 700;
            letter-spacing: 0.1rem;
        }
        .body__product-close {
            margin-bottom: 7px;
            font-size: 1.2rem;
            color: #bfbfbf;
            letter-spacing: 0.1rem;
            cursor: pointer;
        }
        .body__product-add {
            margin-bottom: 0;
            font-size: 1.2rem;
            color: #898989;
            letter-spacing: 0.1rem;
            i {
                color: red;
            }
        }
        .body__product-15 {
            display: inline-block;
            width: 15%;
            padding-top: 10px;
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--text-color);
            letter-spacing: 0.1rem;
        }
        .body__quality {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .body__product-quality {
            border: 1px solid #e5e5e5;
            line-height: 20px;
            padding: 3px;
            margin: 0;
            background-color: var(--white);
            float: right;
            overflow: unset;
            &:focus {
                outline: none;
            }
            &.math {
                color: #999;
                width: 25px;
            }
            &.num {
                font-size: 1.4rem;
                color: var(--text-color);
                width: 25px;
                text-align: center;
            }
        }
    }
    .modal__body-foot {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        a:hover {
            text-decoration: none;
            color: var(--hover-text);
        }
        p {
            font-weight: 600;
            span {
                color: var(--hover-text);
            }
        }
    }
    .modal__body-btn {
        width: 100%;
        text-align: center;
        background-color: var(--black-color);
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
        padding: 10px 0;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: var(--white);
            background-color: var(--hover-text);
        }
    }
    .modal__close {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        height: 25px;
        background: var(--black-color);
        border-radius: 50%;
        z-index: 100;
        color: var(--white);
        text-align: center;
        cursor: pointer;
        i {
            font-size: 1.4rem;
            line-height: 2.4rem;
        }
        &:hover {
            color: var(--white);
        }
    }
    .modal__body-mobile {
        display: none;
        --growth-from: 0.7;
        --growth-to: 1;
        position: relative;
        animation: growth linear 0.1s;
        width: 90%;
        background: var(--white);
        margin: auto;
        position: relative;
        margin-top: 50px;
        .modal__title-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            padding: 10px;
            background-color: var(--black-color);
            .icon {
                height: 34px;
                width: 34px;
                background-color: var(--white);
                border-radius: 50%;
                position: relative;
                i {
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            span {
                color: var(--white);
                font-size: 1.6rem;
            }
            .close {
                color: var(--white);
                font-size: 1.2rem;
            }
        }
        .modal__product-mobile {
            display: flex;
            margin: 10px;
            img {
                width: 80px;
                height: 80px;
            }
            .info {
                margin-left: 10px;
                .name {
                    font-size: 1.4rem;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                }
                .price {
                    font-size: 1.6rem;
                    letter-spacing: 0.2rem;
                    color: var(--hover-text);
                }
            }
        }
        .modal__footer-mobile {
            padding: 0 10px 10px 10px;
        }
    }
}
